* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
}

.brand {
    display: flex;
    align-items: center;
}

.boxerLogo {
    height: 75px;
    width: 50px;
}

.container {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.repo {
    width: 100vw;
    height: 20vh;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: solid purple 1px;
}

.subContainer {
    width: 100vw;
    height: 50vh;
    display: flex;

}

.codebase {
    width: 50vw;
    display: flex;
    padding: 10px 0px 10px 0px;
}

.fileList {
    column-width: 100px;
}

ul {
    list-style: none;
}

.docker {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dockerFile {
    width: 50vw;
    display: flex;
    justify-content: center;
    padding: 0px 10px 0px 0px;
    gap: 20px;
}

.dockerText {
    width: 550px;
    height: 400px;

}

.dockerLang {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.codeLang {
    border: hidden;
    background-color: transparent;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        padding-top: 300px;
    }

    h1 {
        margin-top: 10%;
        margin-left: 3%;
    }

    .code textarea {
        height: 50vh;
    }
}